{% include 'components/header.html' %}
{% include 'components/navbar.html' %}
{% include 'components/admin_navbar.html' %}

<div class="container">
    <h1 class="text-center mt-3" style="font-variant: small-caps; font-weight: 800;"> Document Management </h1>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Add Document Type</h5>
                </div>
                <div class="card-body">
                    <form action="/drs_general_image_uploads" method="POST" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="document_type" class="form-label">Document Type</label>
                            <select class="form-select" id="document_type" name="document_type" required>
                                <option value="image">Carousel Images</option>
                                <option value="about">About</option>
                                <option value="other">DRS Icons/Logo</option>
                            </select>
                        </div>
                    
                        <div class="mb-3">
                            <label for="general_image_path" class="form-label">Image File</label>
                            <input type="file" class="form-control" id="general_image_path" name="general_image_path" required>
                        </div>
                        <div class="mb-3">
                            <h3 class="text-success"> 
                                <div class="alert alert-{{ category }}">
                                    {{ message }}
                                </div>
                            </h3>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'components/footer.html' %}
