<style>
    #navbarNav li{
        margin-left: 50px;
        font-size: 1em;
        padding-top: 2px;
    }
</style>

<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
    <div class="container-fluid">
      <!-- Navbar Brand -->
      <a class="navbar-brand" href="/admin" style="font-variant: small-caps; font-size: 1.5em">Admin Dashboard</a>
  
      <!-- Navbar Toggler -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Navbar Links -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/db_statistics">Database Statistics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user_management">User Management</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/manage_document_types">Document Management</a>
          </li>
          <!-- Add a link to officer claim reports -->
          <li class="nav-item">
            <a class="nav-link" href="/admin/officer_claim_reports">Officer Claim Reports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/drs_general_image_uploads">Upload Images</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/lost_and_found">Lost and Found</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  