<style>
    #carauselCard{
      background: linear-gradient(rgba(140, 177, 108,.1),rgba(197, 216, 180, 0.6));
    }
  </style>

<section class="container text-center text-light">
    <div class="row justify-content-center mt-2">     
        <div class="col-sm-12 col-md-10 col-lg-8 rounded-5">
            <div class="card text-center rounded-5" id="carauselCard">
                <div class="card-header pt-0 pb-0" id="carauselCard">
                    <marquee behavior="" direction="" id="carauselCard" style="font-size: 1.8em; font-variant: small-caps;">
                            &quot; Effortlessly Recover Your Lost Documents. &quot;
                    </marquee>
                </div>
                <div class="card-body" id="carauselCard">
                     <!-- Carousel -->
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="3" aria-label="Slide 4"></button>
                            <button type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="4" aria-label="Slide 5"></button>
                        </div>

                         <div class="carousel-inner mb-2" id="carauselCard">
                            <!-- slide 1 -->
                            <div class="carousel-item active">
                                <img src="../../static/images/EastAfricanPassport.png" alt="Passport" class="" style="height: 250px; width: 200px;">
                                <div class="carousel-caption text-danger d-none d-md-block mt-1" style="bottom: 0; background-color: rgba(0, 0, 0, 0.1); display: flex; align-items: center; justify-content: center;">
                                    <h5>Passport</h5>
                                </div>
                            </div>
                            
                              <!-- slide 2 -->
                             <div class="carousel-item">
                                <img src="../../static/images/DL.jpg" alt="Driving Licence" class="" style="height: 250px; width: 400px;">
                                <div class="carousel-caption text-danger d-none d-md-block mt-1" style="bottom: 0; background-color: rgba(0, 0, 0, 0.1); display: flex; align-items: center; justify-content: center;">
                                    <h5>Driving Licence</h5>
                                </div>
                             </div>
                              <!-- slide 3 -->
                             <div class="carousel-item">
                                <img src="../../static/images/IDCard.png" alt="National ID" class="" style="height: 250px; width: 420px;">
                                <div class="carousel-caption text-danger d-none d-md-block mt-1" style="bottom: 0; background-color: rgba(0, 0, 0, 0.1); display: flex; align-items: center; justify-content: center;">
                                    <h5>National ID</h5>
                                </div>
                             </div>
                              <!-- slide 4 -->
                             <div class="carousel-item">
                                <img src="../../static/images/birthcert.webp" alt="Birth Certificate" class="" style="height: 250px; width: 450px;">
                                <div class="carousel-caption text-danger d-none d-md-block mt-1" style="bottom: 0; background-color: rgba(0, 0, 0, 0.1); display: flex; align-items: center; justify-content: center;">
                                    <h5>Birth Certificate</h5>
                                </div>
                             </div>
                              <!-- slide 5 -->
                             <div class="carousel-item ">
                                <img src="../../static/images/KCSE.jpg" alt="KCSE Certificate" class="" style="height: 250px; width: 210px;">
                                <div class="carousel-caption text-danger d-none d-md-block mt-1" style="bottom: 0; background-color: rgba(0, 0, 0, 0.1); display: flex; align-items: center; justify-content: center;">
                                    <h5>Academic Certificates</h5>
                                </div>
                             </div>
                     </div>
                     <!-- buttons -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>

                </div>
            </div>
        </div>
    
    </div>
</section>