<style>
    #h1{
        font-variant: small-caps;
        font-weight: 900;
        color: blue;
    }
    #btnlog:hover{
        transform: scale(2.5);
    }
    #btnlog{
        transition: 0.2s;
    }
</style>

<div class="container mt-5 text-center">
    <div class="row">
        <div class="col-sm-12 col-md-2"></div>
        <div class="col-sm-12 col-md-8">
            <h1 class="display-1" id="h1">Collection Officer Registration Successful</h1>
            <div class="mt-5">
                <p class="">
                    <a href="/c_o_login" class="btn btn-warning btn-large" id="btnlog">Click Here to Login</a>
                </p>
            </div>
        </div>
        <div class="col-sm-12 col-md-2"></div>
    </div>
</div>
