<style> 
/* Footer */
.footer {
    
    background: linear-gradient(rgba(140, 177, 108,.1),rgba(202, 180, 216,.6));
    border-top: 5px solid #dee2e6;
}

.footer img {
    max-width: 100%;
}

</style>

<!-- Footer -->
<div class="footer-padding px-5  " style="padding-top: 100px; margin-top: 250px;"></div>
<!-- Footer -->
<footer class="footer mt-auto py-4 mb-5">
    <div class="container">
        <div class="row align-items-center">
            <!-- Left section with Logo -->
            <div class="col-sm-12 col-md-4 text-center">
                <a href="/">
                    <img src="../../static/images/DRS-Logo.png" alt="DRS-Logo" class="img-fluid rounded-circle" style="max-width: 100px;">
                </a>
            </div>
            <!-- Middle section with copyright statement -->
            <div class="col-sm-12 col-md-4 text-center">
                <p class="mb-0">&copy; 2024 Document Retrieval System. All rights reserved.</p>
            </div>
            <!-- Right section with contact info -->
            <div class="col-sm-12 col-md-4 text-center">
                <p class="mb-0">Contact Info: <a href="mailto:nyokabigikungueric@gmail.com">nyokabigikungueric@gmail.com</a></p>
            </div>
        </div>
    </div>
</footer>
<!-- js files -->
<script src="../../static/js/index.js"></script>
<script src="../../static/js/bootstrap.js"></script>
</body>
</html>