{% include 'components/header.html' %}
{% include 'components/navbar.html' %}
{#% include 'components/c_o_navbar.html' %#}


<div class="container mt-5 text-center">
    <div class="row">
        <div class="col-sm-12 col-md-2"></div>
        <div class="col-sm-12 col-md-8">
            <h1 class="display-1" id="h1">Client to enter Mpesa pin on their side : <span class="text-success">Handover document if payment is successful.</span></h1>
                <div class="mt-5">
                    <p class="">
                        <a href="/c_o_dashboard" class="btn btn-warning btn-large" id="btnlog">Back to Officer's Dashboard</a>
                    </p>
                </div>

                <br>
                <!-- <div class="mt-3">
                    <p class="">
                        <a href="/" class="btn btn-primary btn-large" id="btnlog">Go to User's Home Page</a>
                    </p>
                </div> -->
        </div>
        <div class="col-sm-12 col-md-2"></div>
    </div>
</div>




{% include 'components/footer.html' %}